# macOS codesign identity
APPLE_SIGNING_IDENTITY=

# Apple ID notarization
APPLE_ID=
APPLE_PASSWORD=
APPLE_TEAM_ID=

# App Store Connect API key notarization
APPLE_API_KEY=
APPLE_API_ISSUER=
APPLE_API_KEY_PATH=
